/*--
	-theme-btn
----------------------------------------*/
.theme_btn {
    overflow: hidden;
    color: $white;
    background-image: linear-gradient(100deg,#086ad8 0%,#378cff 100%);
    background-image: linear-gradient(100deg,#086ad8 0%,#378cff 100%);
    background-image: linear-gradient(100deg,#086ad8 0%,#378cff 100%);
    font-size: 16px;
    font-family: $dm-sans;
    font-weight: 700;
    line-height: 1;
    padding: 22px 36px;
    display: inline-block;
    position: relative;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    transition: opacity 0.3s !important;
    & i {
        color: $white;
        @include transition(0.3s);
    }
    &:hover {
        color: $white;
        background-image: linear-gradient(100deg,#378cff 0%,#086ad8 100%);
        background-image: linear-gradient(100deg,#378cff 0%,#086ad8 100%);
        background-image: linear-gradient(100deg,#378cff 0%,#086ad8 100%);
        & i {
            transform: translateX(5px);
            -webkit-transform: translateX(5px);
            -moz-transform: translateX(5px);
            -ms-transform: translateX(5px);
            -o-transform: translateX(5px);
        }
    }
}

.theme_btn2 {
    background: $theme-color2;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    -ms-border-radius: 45px;
    -o-border-radius: 45px;

    &:hover {
        background-image: linear-gradient(0deg, rgb(67, 186, 255) 0%, rgb(113, 65, 177) 100%);
        background-image: linear-gradient(0deg, rgb(67, 186, 255) 0%, rgb(113, 65, 177) 100%);
        background-image: linear-gradient(0deg, rgb(67, 186, 255) 0%, rgb(113, 65, 177) 100%);
    }
}
//quote-btn
.quote-btn {
    background: rgb(239, 247, 255);
    border-radius: 45px;
    color: #086ad8;
    padding: 17px 36px;
    &:hover {
        color: $white;
        background-image: linear-gradient(0deg, rgb(8, 106, 216) 0%, rgb(55, 140, 255) 100%);
        background-image: linear-gradient(0deg, rgb(8, 106, 216) 0%, rgb(55, 140, 255) 100%);
        background-image: linear-gradient(0deg, rgb(8, 106, 216) 0%, rgb(55, 140, 255) 100%);
    }
}

//border-btn
.border_btn {
    border: 2px solid rgba(255, 255, 255, 0.1);
    color: $white;
    padding: 22px 38px;
    background: rgba(220, 20, 20, 0);
    position: relative;
    z-index: 1;
    @include transition(0.3s);
    &:hover,
    &.active {
        color: $white;
        border-color: $theme-color;
        background: transparent;
    }
    &.active {
        &:hover {
            color: $theme-color;
            background-color: transparent;
        }
    }
}

//quote-btn2
.quote-btn2 {
    background: $theme-color2;
    border-radius: 45px;
    color: $white;
    padding: 17px 36px;
    &:hover {
        color: $white;
        background-image: linear-gradient(0deg, rgb(8, 106, 216) 0%, rgb(55, 140, 255) 100%);
        background-image: linear-gradient(0deg, rgb(8, 106, 216) 0%, rgb(55, 140, 255) 100%);
        background-image: linear-gradient(0deg, rgb(8, 106, 216) 0%, rgb(55, 140, 255) 100%);
    }
}

//subscribe-btn
.subscribe-btn {
    background: $theme-color2;
    color: $white;
    font-size: 16px;
    font-weight: 700;
    border: 0;
    border-radius: 40px;
    padding: 4px 36px;
    display: inline-block;
    line-height: 1;
    @include transition(0.3s);
    &:hover {
        background-image: linear-gradient(100deg,#43baff 0%,#7141b1 100%);
        background-image: linear-gradient(100deg,#43baff 0%,#7141b1 100%);
        background-image: linear-gradient(100deg,#43baff 0%,#7141b1 100%);
    }
}

//theme_btn3
.theme_btn3 {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    padding: 21px 40px;
    i {
        margin-left: 10px;
    }
}
